
<!DOCTYPE html>

<html class="" lang="en" dir="ltr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Robot Status</title>

  <link rel="stylesheet" type="text/css" media="screen" href="/static/style.css">

  <meta name="theme-color" content="#E95420">

</head>

<body>
    <div class="wrapper">
        <div id="main-content" class="inner-wrapper">
            <div class="row u-equal-height">
                <div class="col-8">
                    <h1>Arm Status</h1>
                    <h2>Position</h2>
                    <table id=position>
                        <tr>
                            <td>&nbsp;</td>
                            <td>Current (cm)</td>
                            <td>Target (cm)</td>
                        </tr>
                        <tr>
                            <td>X</td>
                            <td><div id='status.x'>&nbsp</div></td>
                            <td><div id='target.x'>&nbsp</div></td>
                        </tr>
                        <tr>
                            <td>Y</td>
                            <td><div id='status.y'>&nbsp</div></td>
                            <td><div id='target.y'>&nbsp</div></td>
                        </tr>
                        <tr>
                            <td>Z</td>
                            <td><div id='status.z'>&nbsp</div></td>
                            <td><div id='target.z'>&nbsp</div></td>
                        </tr>
                    </table>
                    <h2>Joints</h2>
                    <table id=joints>
                        <tr>
                            <td>&nbsp;</td>
                            <td>Current<br/>(degrees)</td>
                            <td>Target<br/>(degrees)</td>
                            <td>Velocity<br/>(degrees/sec)</td>
                        </tr>
                        <tr>
                            <td>Joint 1</td>
                            <td><div id='joint1.current'>&nbsp</div></td>
                            <td><div id='joint1.target'>&nbsp</div></td>
                            <td><div id='joint1.velocity'>&nbsp</div></td>
                        </tr>
                        <tr>
                            <td>Joint 2</td>
                            <td><div id='joint2.current'>&nbsp</div></td>
                            <td><div id='joint2.target'>&nbsp</div></td>
                            <td><div id='joint2.velocity'>&nbsp</div></td>
                        </tr>
                        <tr>
                            <td>Joint 3</td>
                            <td><div id='joint3.current'>&nbsp</div></td>
                            <td><div id='joint3.target'>&nbsp</div></td>
                            <td><div id='joint3.velocity'>&nbsp</div></td>
                        </tr>
                        <tr>
                            <td>Joint 4</td>
                            <td><div id='joint4.current'>&nbsp</div></td>
                            <td><div id='joint4.target'>&nbsp</div></td>
                            <td><div id='joint4.velocity'>&nbsp</div></td>
                        </tr>
                    </table>

                    <p/>
                    <hr/>

                  <p>
                    <a class="p-button--positive js-invoke-modal" href="javascript:move('up');">Move 1</a>
                    <a class="p-button--positive js-invoke-modal" href="javascript:move('front');">Move 2</a>
                    <a class="p-button--positive js-invoke-modal" href="javascript:move('home');">Move 3</a>
                </p>

                </div>
                <div class="col-4 u-align--center u-vertically-center u-hide--small">
                  <p/>
                  &nbsp;
                  <p/>
                  <h2>Video feed</h1>
                  <img src="{{ url_for('video_feed') }}">
                </div>
              </div>

        </div>
    </div>

    <script>
        var xmlhttp

        function toDegrees (r) {
            return r * 180.0 / Math.PI
        }

        function move(whereto) {
            mv = new XMLHttpRequest();
            xmlhttp.open("GET", whereto, true);
            xmlhttp.send();
        }

        function updateStatus() {
            if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                resp = JSON.parse(xmlhttp.responseText);
                document.getElementById("status.x").innerHTML = (resp.position.x * 100.0).toFixed(2).toString();
                document.getElementById("status.y").innerHTML = (resp.position.y * 100.0).toFixed(2).toString();
                document.getElementById("status.z").innerHTML = (resp.position.z * 100.0).toFixed(2).toString();
                document.getElementById("target.x").innerHTML = (resp.targetposition.x * 100.0).toFixed(2).toString();
                document.getElementById("target.y").innerHTML = (resp.targetposition.y * 100.0).toFixed(2).toString();
                document.getElementById("target.z").innerHTML = (resp.targetposition.z * 100.0).toFixed(2).toString();

                document.getElementById("joint1.current").innerHTML = toDegrees(resp.joint1.position).toFixed(0).toString();
                document.getElementById("joint1.target").innerHTML = toDegrees(resp.joint1.targetposition).toFixed(0).toString();
                document.getElementById("joint1.velocity").innerHTML = toDegrees(resp.joint1.velocity).toFixed(0).toString();
                document.getElementById("joint2.current").innerHTML = toDegrees(resp.joint2.position).toFixed(0).toString();
                document.getElementById("joint2.target").innerHTML = toDegrees(resp.joint2.targetposition).toFixed(0).toString();
                document.getElementById("joint2.velocity").innerHTML = toDegrees(resp.joint2.velocity).toFixed(0).toString();
                document.getElementById("joint3.current").innerHTML = toDegrees(resp.joint3.position).toFixed(0).toString();
                document.getElementById("joint3.target").innerHTML = toDegrees(resp.joint3.targetposition).toFixed(0).toString();
                document.getElementById("joint3.velocity").innerHTML = toDegrees(resp.joint3.velocity).toFixed(0).toString();
                document.getElementById("joint4.current").innerHTML = toDegrees(resp.joint4.position).toFixed(0).toString();
                document.getElementById("joint4.target").innerHTML = toDegrees(resp.joint4.targetposition).toFixed(0).toString();
                document.getElementById("joint4.velocity").innerHTML = toDegrees(resp.joint4.velocity).toFixed(0).toString();
                setTimeout (readStatus, 500)
            }
        }
        
        function readStatus() {
            xmlhttp = new XMLHttpRequest();
            xmlhttp.onreadystatechange = updateStatus;
            xmlhttp.open("GET", "api", true);
            //xmlhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
            xmlhttp.send();
        }

        setTimeout (readStatus, 1000)

    </script>
</body>
</html> 
