
<!DOCTYPE html>

<html class="" lang="en" dir="ltr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Robot Status</title>

  <link rel="stylesheet" type="text/css" media="screen" href="/static/style.css">

  <meta name="theme-color" content="#E95420">

</head>

<body>

    <div class="wrapper">
        <div id="main-content" class="inner-wrapper">
            <div class="row u-equal-height">
                <div class="col-8">
                    <h1>Status</h1>
                    <h4>Arm</h4>
                    <table>
                        <tr>
                            <td>Position</td>
                            <td>x</td>
                            <td>y</td>
                            <td>z</td>

                        </tr>
                    </table>
                    Position: x, y, z
                    <hr/>

                    <h1>Build security into your robot’s future with Ubuntu</h1>
                  <h4>Tech visionaries choose Ubuntu to build ultra-secure and software-defined robots</h4>
                  <p>Ubuntu is the most popular Linux distribution for large embedded systems. As autonomous robots mature, innovative tech companies turn to Ubuntu to realise their vision of a robotic future. We are your partner in innovation.</p>
                  <p><a class="p-button--positive js-invoke-modal" href="/internet-of-things/contact-us?product=robotics">Reach out to hear more</a></p>
                  <p><a href="/whitepapers/beta/robotics">Read the whitepaper “Pick the right OS for your robot”&nbsp;›</a></p>
                </div>
                <div class="col-4 u-align--center u-vertically-center u-hide--small">
                  
                <img src="https://res.cloudinary.com/canonical/image/fetch/f_auto,q_auto,fl_sanitize,w_240,h_240/https://assets.ubuntu.com/v1/29eb5a8e-Robot+arm+-+dark+grey.svg" srcset="https://res.cloudinary.com/canonical/image/fetch/f_auto,q_auto,fl_sanitize,w_480,h_480/https://assets.ubuntu.com/v1/29eb5a8e-Robot+arm+-+dark+grey.svg 2x" alt="" width="240" height="240" loading="auto">
                </div>
              </div>

        </div>
    </div>
</body>
</html> 
